body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -5px 0 #dedede, 5px 0 #dedede;
}

.navigation-container {
  position: relative;

}
.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  z-index: 1;
}

.site-navigation {
  display: flex;

  align-items: center;
  padding: 0;

}

.nav-item {
  text-align: right;
  width: 110px;
  margin: 18px 0;
}

.nav-item:first-child {
  margin-left: 71px;
  text-align: left;
}

.nav-item:nth-child(2) {
  margin-left: 132px;
  text-align: left;
}

.nav-item:nth-child(3) {
  margin-left: 350px;
  margin-right: 134px;
}

.nav-item .link:hover {
  color: #81b3d2;
}

.nav-item .link:active {
  opacity: 0.5;
  color: #000000;
}

.nav-item .link:active+:visited {
  opacity: 0.7;
  color: #000000;
}

.link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.without-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.intro {
  position: relative;
  background-image: url("../img/background-main.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 27.5%;
  padding-top: 78px;
  padding-bottom: 70px;
}

.intro::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background-image: url("../img/intro-mask.svg");
  height: 57px;
  width: 1200px;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  max-width: 500px;
  font-weight: 400;
  padding: 48px 0 20px;
  line-height: 24px;
}

.heading-reason {
  padding: 17px 0;
}

.main-title {
  font-size: 21px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.reason {
  display: flex;
  justify-content: space-around;
}

.number-reason {
  display: flex;
  justify-content: space-around;
}

.reason-title {
  font-size: 21px;
  padding: 0 70px;
}


.marked {
  background-color: #81b3d2;
  color: #ffffff;
  height: 205px;
  width: 350px;
  padding: 25px 45px;

}

.small-scale {
  margin: 0;
  padding: 10px;
}

.img-reason {
  width: 800px;
  height: 255px;
  object-fit: cover;
}

.nested-list {
  padding-top: 40px;
  padding-bottom: 72px;
  width: 290px;
}

.sub-reasons::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  height: 90px;
  padding-bottom: 10px;
}

.home::before {
  background-image: url("../img/icon-1.svg");
}

.food::before {
  background-image: url("../img/icon-3.svg");
}

.souvenir::before {
  background-image: url("../img/icon-2.svg");
}

.other-reasons {
  padding-top: 28px;
  padding-bottom: 52px;
  width: 255px;
}

.before-search {
  font-size: 30px;
  font-weight: 700;
  padding: 30px 0 42px;
}

.before-search p:last-child {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 6px 0;
}



.pop-up-form {
  position: relative;
  font-weight: 700;
}

.search {
  border: none;
  width: 568px;
  background-color: #503e33;
  color: #ffffff;
  padding: 31px 70px;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  opacity: 0.5;
}

.search:hover {
  opacity: 1;
}

.search:active {
  opacity: 0.7;
}

.search-form {
  position: absolute;
  top: 86px;
  left: 50%;
  transform: translateX(-50%);
  width: 455px;
  background-color: #ffffff;
  padding: 37px 57px;
}

.search-date {
  display: flex;
  height: 21px;
  width: 100%;
  margin: 19px 0 46px;

}
.search-sum-container {
  display: flex;
  justify-content: space-between;

}

.search-sum{
  position: relative;
  display: flex;
  height: 21px;
  margin: 0 0 67px -2px;
}

.search-sum .pop-up-input{
  width: 85px;
  margin-left: 40px;
  text-align: center;
  height: 0;
}
.sum-correct .pop-up-input{
margin-left: 28px;
}


.date-container {
  display: flex;
  flex-grow: 1;
  position: relative;
  margin-left: 26px;
}

.date-correct{
  margin-left: 30px;
}

.search-form label{
  padding-top: 9px;
}

.date-button {
  position: absolute;
  top: 3px;
  right: 0;
}

.pop-up-input {
  width: 100%;
  background: #f2f2f2;
  border: 0px;
  padding: 19px 15px;
  font-weight: 700;
}

.sum-button,.date-button {
  position: absolute;
  background-color: transparent;
  border: none;
}
.sum-button{
  top: 50%;
}
.button-minus{
  left: 125px;
}
.button-plus{
  left: 195px;
}
.sum-correct .button-minus{
  left: 80px;
}
.sum-correct .button-plus{
  left: 150px;
}
.find-button {
  border: none;
  width: 458px;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #5496bd;
  padding: 17px 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  opacity: 0.8;
}
.find-button:hover {
  opacity: 1;
}

.find-button:active {
  opacity: 0.5;
}

.map {
  width: 1200px;
  height: 470px;
}

.footer {
  display: flex;
}

.telephone {
  width: 220px;
  font-weight: 700;
  font-size: 21px;
  text-align: left;
  padding-top: 10px;
  margin-left: 125px;
}

.social-link {
  display: flex;
  flex-wrap: wrap;
  margin-left: 180px;
  margin-right: 230px;
  margin-top: 32px;
}

.social-icon {
  display: block;
  height: 46px;
  width: 46px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 6px;
}

.twitter {
  background-image: url("../img/twitter.svg");
  margin: 0;
}

.facebook {
  background-image: url("../img/fb-icon.svg");
}

.youtube {
  background-image: url("../img/youtube.svg");
}

.academy {
  display: flex;
  align-items: center;
  margin: 0;
}

.footer-text{
  padding-top: 16px;
}

.academy-link {
  display: block;
  width: 110px;
  padding-top: 25px;
  padding-left: 7px;
}

.detail {
  background-color: #669ec0;
  color: #ffffff;
  padding: 5px 17px;
  opacity: 0.7;
}

.detail:hover {
  opacity: 1;
}
.detail:active {
  opacity: 0.5;
}

.order {
  background-color: #604e43;
  color: #ffffff;
  padding: 5px 17px;
  opacity: 0.7;
}
.order:hover {
  opacity: 1;
}
.order:active {
  opacity: 0.5;
}
.filter {
  background-image: url("../img/background-main.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
}

.user-filter {
  display: flex;
  justify-content: space-between;
  padding: 26px  57px 0;
  font-size: 16px;
}

.resting-place {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #cacaca;
  padding: 27px 72px 28px;
}

.resting-place:last-child {
  border-bottom: 1px solid #cacaca;
}

.art-section {
  display: flex;
}

.images {
  margin-top: 2px;
  margin-right: 30px;
}

.article-heading {
  text-align: left;
  margin: 0;
}

.article-heading .link:hover {
  color: #81b3d2;
}

.article-heading .link:active {
  color: #000000;
  opacity: 0.5;
}

.before-button {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 17px;
}

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  padding: 2px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.filter-input {
  border: none;
  text-align: left;
  margin-right: 93px;

}

.checkbox-title {
  font-weight: 700;
  padding-bottom: 19px;
}

.typical-sorting {
  display: flex;
  padding-top: 30px;
  font-size: 12px;
}

.sort-find {
  font-size: 21px;
  font-weight: 700;
  margin-right: 53px;
  margin-top: 30px;
  margin-bottom: 34px;
}

.sort-transfer {
  padding-top: 20px;
  margin-right: 40px;
  font-size: 12px;
}

.typical-sorting .link {
  color: #cacaca;
  text-decoration: #81b3d2 dotted underline;
  font-weight: 400;
  margin-right: 33px;
}

.typical-sorting .link:hover {
  color: #81b3d2;
}

.typical-sorting .link:active {
  color: #000000;
  text-decoration: none;
}

.typical-sorting:active+:visited {
  color: #81b3d2;
  text-decoration: none;
}

.sort {
  display: flex;
  padding: 0 70px;
}

.sort-button-container {
  display: flex;
  padding-top: 37px;
  margin-left: auto;
}

.sort-button {
  display: block;
  width: 12px;
  height: 10px;
  margin-left: 13px;
}

.button-container {
  display: flex;

}
.button-item {
  margin-right: 5px;
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-input::-ms-expand {
  display: none;
}

.check {
  position: relative;
  padding-left: 39px;
  display: block;
  margin-bottom: 25px;
}
.filter-input svg{/*не понимаю почему по классу не выставлялось позиционирование .check-button*/
  position: absolute;
}
.check-button{
 fill: #ffffff;

}
.check-input + .check-on{
  display: none;
}
.check-input:checked + .check-on{/*тоже самое почему не переключается помоги пожалуйста если можно*/
  display: block;
}
.check-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.up-button{
  fill: #ffb600;
}
.up-button:hover{
  fill: black;
}
.stars {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url("../img/star.svg");
  margin-left: auto;
  background-repeat: repeat-x;
}

.five-stars {
  width: 90px;
}

.four-stars {
  width: 72px;
}

.three-stars {
  width: 54px;
}

.two-stars {
  width: 36px;
}

.one-star {
  width: 18px;
}




