body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  text-align: center;
}



a {
  color: #000000;
  text-decoration: none;
}

ul {
  list-style: none;
}

.intro {
  background-image: url("../img/background-main.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  padding-bottom: 20px;
}

.into::after {/*Добавил почему не работает не знаю*/
  content: "";
  background-image: url("../img/intro-mask.svg");
}

.heading {
  font-size: 14px;
  max-width: 500px;
  font-weight: 400;
}

h1 {
  font-size: 21px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

h3 {
  font-size: 21px;
}

.first-reason {
  background-color: #81b3d2;
  color: #ffffff;
  height: 200px;
  width: 270px;
  padding: 40px;

}

.img-first-reason {
  width: 770px;
  height: 280px;
  margin-right: 40px;
}

.nested-list {
  background-repeat: no-repeat;
  background-position: top center;
  width: 290px;
  padding-top: 80px;
  margin-top: 60px;
}

.second-reason{
  background-color: #81b3d2;
  color: #ffffff;
  height: 200px;
  width: 270px;
  padding: 40px;
  margin-right: 40px;
}

.img-second-reason{
  width: 770px;
  height: 280px;
}

.other-reasons {
  width: 255px;
  margin-top: 40px;
}

section p {
  font-weight: 400;
}

.regular {
  font-weight: 400;
}
.search {
  background-color: #766357;
  color: #ffffff;
  padding: 20px 60px;
  font-weight: 700;
  font-size: 21px;
}

.user {
  display: none;
}

.map {
  width: 1200px;
  height: 500px;
}

.telephone {
  width: 150px;
  text-align: left;
}


.twitter {
  background-image: url("../img/twitter.svg") ;
}

.facebook {/*почему неотображаются не знаю*/
  background-image: url("../img/fb-icon.svg");

}

.youtube {
  background-image: url("../img/youtube.svg");
}

.academy-link {/*почему сьехало не знаю*/
  font-weight: 400;
  text-align: right;
  background-image: url("../img/logo-htmlacademy.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.type-cost {
  font-weight: 400;
}
.detail {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 5px 15px;
}

.order {
  background-color: #766357;
  color: #ffffff;
  padding: 5px 15px;
}

.raiting {
font-weight: 400;
}
