body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  text-align: center;
}

.page-conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation-conteiner {
  position: relative;
  width: 1200px;
}

.site-navigation {
  display: flex;
  justify-content: space-evenly;/*Так как по бокам на макете тоже есть место*/
  align-items: center;
  padding: 0;
}

.right {
  text-align: right;
}

.nav-list {
  width: 300px;
  margin: 10px;
}

.main-header-logo {
  position: absolute;
  top:0px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.link {
  color: #000000;
  text-decoration: none;
}

.nav-list .link {
  padding: 20px;
}

.without-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.intro {
  background-image: url("../img/background-main.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 25%;
  padding-top: 60px;
}

.intro::after {/*Полоса сохранилась*/
  display: block;
  content: "";
  background-image: url("../img/intro-mask.svg");
  background-position: bottom;
  height: 60px;
}

.heading {
  display: inline-block;
  font-size: 14px;
  max-width: 500px;
  font-weight: 400;
}

.main-title {
  font-size: 21px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.reason {
  display: flex;
  justify-content: space-evenly;
}

.reason-title {
  font-size: 21px;
}

.marked {
  background-color: #81b3d2;
  color: #ffffff;
  height: 200px;
  width: 320px;
  padding: 40px;
}

.img-reason {
  width: 800px;
  height: 280px;
}

.nested-list {
  padding-top: 30px;
  width: 290px;
}

.home::before {
  content: "";
  display: block;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: top center;
  height: 90px;
}

.food::before {
  content: "";
  display: block;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: top center;
  height: 90px;
}

.suvenir::before {
  content: "";
  display: block;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: top center;
  height: 90px;
}

.other-reasons {
  padding-top: 30px;
  width: 255px;
}

.regular {
  font-weight: 400;
}

.search {
  border: none;
  width: 540px;
  background-color: #766357;
  color: #ffffff;
  padding: 20px 60px;
  font-weight: 700;
  font-size: 21px;
}

.pop-up-form {
  position: relative;
}

.search-form {
  position: absolute;
  top: 65px;
  left:50%;
  transform: translateX(-50%);
  width: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #ffffff;
  padding:30px;
}

.search-date {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.search-sum {
  width: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.find-button{
  border: none;
  width: 450px;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color:#81b3d2;
  padding: 10px 60px;
}

.map {
  width: 1200px;
  height: 500px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.telephone {
  width: 150px;
}

.social-link {
  display: flex;
  width: 200px;
  height: 70px;
}

.social-button {/*Т.к у иконок разное сотояние (покой,наведение,нажатие)*/
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
  margin: 3px;
}

.academy {
  display: flex;
  align-items: center;
  margin: 0;
}

.academy-link {
  display: block;
  margin-left: 5px;
  height: 30px;
  width: 80px;
}

.detail {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 5px 15px;
}

.order {
  background-color: #766357;
  color: #ffffff;
  padding: 5px 15px;
}

.filter-width {
  width: 1200px;
}

.filter {
  display: flex;

  background-image: url("../img/background-main.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
}

.resting-kind {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.resting-place {
  width: 1100px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.art-section {
display:flex;
}

.images {
  margin-top: 3px;
margin-right: 20px;
}

.article-heading {
  margin: 0;
}

.button-item .regular {
  text-align: left;/*так как наследовалось из body center*/
}

.raiting {
  justify-items: end;
  align-items:end;
}

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.filter-input {
  border: none;
  text-align: start;
}

.user-filter {
  display: flex;
}

.sort {
  display: flex;
}

.ul-sort {
  display: flex;
}

.button-conteiner{
  display: flex;
  width: 180px;
  justify-content: space-between;
}

.button-item {
  display: block;
  flex-wrap: wrap;
  width: 70px;
}

.check-input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.check-box {
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.check {
  padding-left: 30px;
  display: block;
  margin-bottom: 5px;
}

.check-input:checked + .check-box {/*не переключается*/
  background-image: url("../img/checkbox-on.svg");
}