body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.navigation-container {
  position: relative;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  padding: 0;
}

.nav-item {
  width: 300px;
}

.logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  z-index: 1;
}


.link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.without-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.intro {
  position: relative;
  background-image: url("../img/background-main.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 25%;
  padding-top: 60px;
  padding-bottom: 30px;
}

.intro::after {
  display: block;
  position: absolute;/*Да полоса остается костылями убрал, я не могу понять что не так*/
  left: 0;
  bottom: 0;
  content: "";
  background-image: url("../img/intro-mask.svg");
  height: 57px;
  width: 1200px;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  max-width: 500px;
  font-weight: 400;
}

.main-title {
  font-size: 21px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.reason {
  display: flex;
  justify-content: space-around;
}

.reason-title {
  font-size: 21px;
}

.marked {
  background-color: #81b3d2;
  color: #ffffff;
  height: 200px;
  width: 320px;
  padding: 40px;
}

.img-reason {
  width: 800px;
  height: 280px;
}

.nested-list {
  padding-top: 30px;
  width: 290px;
}

.sub-reasons::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  height: 90px;
}

.home::before {
  background-image: url("../img/icon-1.svg");
}

.food::before {
  background-image: url("../img/icon-3.svg");
}

.souvenir::before {
  background-image: url("../img/icon-2.svg");
}

.other-reasons {
  padding-top: 30px;
  width: 255px;
}

.search {
  border: none;
  width: 540px;
  background-color: #766357;
  color: #ffffff;
  padding: 20px 60px;
  font-weight: 700;
  font-size: 21px;
}

.pop-up-form {
  position: relative;
  font-weight: 700;
}

.search-form {
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  width: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 30px;
}

.search-date {
  display: flex;
  justify-content: space-around;
  width: 480px;
}

.search-sum {
  width: 240px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.find-button {
  border: none;
  width: 450px;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 10px 60px;
}

.map {
  width: 1200px;
  height: 500px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.telephone {
  width: 150px;
  font-weight: 700;
}

.social-link {
  display: flex;
  flex-wrap: wrap;

}

.social-icon {
  display: block;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 6px;
}

.twitter {
  background-image: url("../img/twitter.svg");
  margin: 0;
}

.facebook {
  background-image: url("../img/fb-icon.svg");
}

.youtube {
  background-image: url("../img/youtube.svg");
}

.academy {
  display: flex;
  align-items: center;
  margin: 0;
}

.academy-link {
  display: block;
  margin-left: 5px;

  width: 80px;
}

.detail {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 5px 15px;
}

.order {
  background-color: #766357;
  color: #ffffff;
  padding: 5px 15px;
}

.filter {
  background-image: url("../img/background-main.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
}

.user-filter {
  display: flex;
  justify-content: space-between;
  padding: 20px  40px;
}

.resting-kind {
  margin-left: auto;
  margin-right: auto;
}

.resting-place {
  height: 95px;
  display: flex;
  justify-content: space-between;
  border-top:1px solid #cacaca;
  padding: 20px 50px;
}

.resting-place:last-child {
  border-bottom: 1px solid #cacaca;
}

.art-section {
  display: flex;
}

.images {
  margin-top: 3px;
  margin-right: 20px;
}

.article-heading {
  text-align: left;
  margin: 0;
}

.before-button {
  text-align: left;/*так как наследовалось из body center*/
}

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  padding: 2px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.filter-input {
  border: none;
  text-align: left;

}

.checkbox-title {
  font-weight: 700;
}

.typical-sorting {
  display: flex;
  padding: 24px 0;
}

.sort-find {
  font-size: 21px;
  font-weight: 700;
  margin-right: 50px;
}

.sort-transfer {
  padding: 10px 0;
  margin-right: 40px;
}

.typical-sorting .link {
  color: #81b3d2;
  font-weight: 400;
  margin-right: 30px;
}

.sort {
  display: flex;
  padding: 0 50px;
}

.sort-button-container {
  display: flex;
  padding: 30px 0;
  margin-left: auto;
}

.sort-button {
  display: block;
  width: 11px;
  height: 10px;
  margin-left: 5px;/*Тут вроде мардж т.к. падинг начинает повторять изображение*/
}

.button-container {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.check-input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}
.check-input::-ms-expand {
  display: none;
}

.check-input::before {
  display: block;
  content: "";
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;

}

.check {
  padding-left: 30px;
  display: block;
  margin-bottom: 5px;
}

.check-input:checked::before {
  content: "";
  background-image: url("../img/checkbox-on.svg");

}

.check-box {
  display: block;
}

.check-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.up-button {
  background-image: url("../img/icon-up-dir.svg");
}

.down-button {
  background-image: url("../img/icon-down-dir.svg");
}

.stars::before {
  display: block;
  content: "";
  width: 18px;
  height: 17px;
  background-image: url("../img/star.svg");
  margin-left: auto;
  background-repeat: repeat-x;
}
.five-stars::before {
  width: 90px;
}

.four-stars::before {
  width: 72px;
}

.three-stars::before {
  width: 54px;
}

.two-stars::before {
  width: 36px;
}
.one-star::before {
  width: 18px;
}
