body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans",Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  background-color: white;
  text-align: center;
}

nav {
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  background-image: url("../img/background-main.jpg");
  background-position:top center;
  background-repeat: no-repeat;
  background-size: 1200px 377px;
}

.intro {
  background-image:url("../img/intro-mask.svg");
  background-position: bottom ;
  background-repeat:no-repeat ;
  padding-bottom: 20px;
}

.heading {
  font-size: 14px;
  max-width: 500px;
  font-weight: 400;
}

h1 {
  font-size: 21px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

h3 {
  font-size: 21px;
}

.float-left {
  background-color: #81b3d2;
  color:white;
  height: 200px;
  width: 270px;
  padding: 40px;

}

.img-right {
  width: 770px;
  height: 280px;
  margin-right: 40px;
}
.nested-list-1 {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 290px;
  padding-top: 80px;
  margin-top: 60px;
}

.nested-list-2 {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: top center;
  margin-right: 80px;
  width: 290px;
  padding-top: 80px;
  margin-top: 60px;
}

.nested-list-3 {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 290px;
  padding-top: 80px;
  margin-top: 60px;
}

.float-right{
  background-color: #81b3d2;
  color:white;
  height: 200px;
  width: 270px;
  padding: 40px;
  margin-right: 40px;
}
.img-left{
  width: 770px;
  height: 280px;
}

.trio-2 {
  width: 260px;
  margin-top: 40px;
  margin-right: 80px;
}
.trio-3 {
  width: 255px;
  margin-right: 0;
}
.trio-1 {
  width: 255px;
  margin-left: 0px;
}
section p {
  font-weight: 400;
}
.regular {
  font-weight: 400;
}
button {
  background-color: #766357;
  color: white;
  padding: 20px 60px;
  font-weight: 700;
  font-size: 21px;
}

.user {
  display: none;
}
.map {
  width: 1200px;
  height: 500px;
}

.telefone {
  width: 150px;
  text-align: left;
}


.social-link-1 {
  background-image: url("../img/twitter.svg") ;
}

.social-link-2 {/*почему неотображаются не знаю*/
  background-image: url("../img/fb-icon.svg");
  background-color: #81b3d2;
}

.social-lin-3 {
  background-image: url("../img/youtube.svg");
}

.on-academy {/*почему сьехало не знаю*/
  font-weight: 400;
  text-align: right;
  background-image: url("../img/logo-htmlacademy.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.tipe-cost {
  font-weight: 400;
}
.detail {
  background-color: #81b3d2;
  color:white;
  padding:5px 15px;
}

.order {
  background-color: #766357;
  color:white;
  padding:5px 15px;
}

.raiting {
font-weight: 400;
}
