body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -1px 0 #dbdbdb, 1px 0 #dbdbdb,
              -2px 0 #dedede, 2px 0 #dedede,
              -3px 0 #e1e1e1, 3px 0 #e1e1e1,
              -4px 0 #e4e4e4, 4px 0 #e4e4e4,
              -5px 0 #e7e7e7, 5px 0 #e7e7e7,
              -6px 0 #e9e9e9, 6px 0 #e9e9e9,
              -7px 0 #eaeaea, 7px 0 #eaeaea,
              -8px 0 #ececec, 8px 0 #ececec,
              -9px 0 #ededed, 9px 0 #ededed,
              -10px 0 #efefef, 10px 0 #efefef,
              -11px 0 #f0f0f0, 11px 0 #f0f0f0,
              -13px 0 #f1f1f1, 13px 0 #f1f1f1,
              -40px 0 #f2f2f2, 40px 0 #f2f2f2;
 }

.navigation-container {
  position: relative;

}
.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  z-index: 1;
}

.site-navigation {
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-item {
  text-align: right;
  width: 110px;
  margin: 17px 0;
}

.nav-item:first-child {
  margin-left: 71px;
  text-align: left;
}

.nav-item:nth-child(2) {
  margin-left: 132px;
  text-align: left;
}

.nav-item:nth-child(3) {
  margin-left: 350px;
  margin-right: 134px;
}

.nav-item .link:hover {
  color: #81b3d2;
}

.nav-item .link:active {
  opacity: 0.5;
  color: #000000;
}

.nav-item .link:active+:visited {
  opacity: 0.7;
  color: #000000;
}

.link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.without-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.intro {
  position: relative;
  background-image: url("../img/background-main.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 27.5%;
  padding-top: 77px;
  padding-bottom: 73px;
}

.intro::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background-image: url("../img/intro-mask.svg");
  height: 57px;
  width: 1200px;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  width: 500px;
  font-weight: 400;
  padding: 46px 0 24px;
  line-height: 26px;
}

.heading-reason {
  padding: 13px 0;
}

.main-title {
  font-size: 21px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.reason {
  display: flex;
  justify-content: space-around;
}

.number-reason {
  display: flex;
  justify-content: space-around;
  background-color: #eeeeee;
}

.reason-title {
  font-size: 21px;
  padding: 0 70px;
}

.marked {
  background-color: #81b3d2;
  color: #ffffff;
  height: 204px;
  width: 350px;
  padding: 26px 45px;

}

.small-scale {
  margin: 0;
  padding: 10px;
}

.img-reason {
  width: 800px;
  height: 256px;
  object-fit: cover;
}

.nested-list {
  padding-top: 37px;
  padding-bottom: 71px;
  width: 290px;
}

.sub-reasons::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  height: 103px;
}

.home::before {
  background-image: url("../img/icon-1.svg");
}

.food::before {
  background-image: url("../img/icon-3.svg");
  
}

.souvenir::before {
  background-image: url("../img/icon-2.svg");

}

.other-reasons {
  padding-top: 26px;
  padding-bottom: 55px;
  width: 255px;
}

.before-search {
  font-size: 30px;
  font-weight: 700;
  padding: 27px 0 43px;
}

.before-search p:last-child {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 6px 0;
}

.pop-up-form {
  position: relative;
  font-weight: 700;
}

.search {
  border: none;
  width: 568px;
  background-color: #766357;
  color: #ffffff;
  padding: 31px 70px;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
}

.search:hover {
  background-color: #604e43;
}

.search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 86px;
  left: 50%;
  transform: translateX(-50%);
  width: 460px;
  background-color: #ffffff;
  padding: 37px 55px;
}

.pop-up-input {
  width: 100%;
  background-color: #f2f2f2;
  border: 0px;
  padding: 11px 10px;
  font-weight: 700;
  margin-left: 10px;
  text-transform: uppercase;
}

.pop-up-input:hover {
  background-color: #ebebeb;
}

.pop-up-input:focus {
  background-color: transparent;
  outline: 2px solid #e5e5e5;
}

.search-date,
.search-sum {
  display: inherit;
}

.search-date label,
.search-sum label {
  padding-top: 9px;
}

.search-date label {
  padding-left: 2px;
}

.search-date {
  margin: 18px 0 11px;
  width: 430px;
}

.search-sum {
  margin: 19px 0 54px;
  width: 160px;
}

.date-container {
  position: relative;
  margin-left: 10px;
  flex-grow: 1;
}

.container-correct {
  margin-left: 13px;
}

.sum-container {
  position: relative;
  margin-left: 32px;
}

.sum-container .pop-up-input{
  width: 94px;
  text-align: center;
}

.number-correct {
  margin-left: 120px;
}
.number-correct .sum-container {
  margin-left: 17px;
}

.button-plus,
.button-minus {
  position: absolute;
  border: none;
  background-color: transparent;
  fill: #cacaca;
}

.button-plus {
  top:11px;
  right: 9px;
}

.date-button:hover,
.button-plus:hover,
.button-minus:hover {
  fill: #000000;
}

.date-button:active,
.button-plus:active,
.button-minus:active {
  fill: #81b3d2;
}

.button-minus {
  top: 11px;
  left: 17px;
}
.date-button {
  position: absolute;
  top: 6px;
  right: -25px;
  border: none;
  background-color: transparent;
  fill: #cacaca;
}

.find-button {
  border: none;
  width: 458px;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 17px 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.find-button:hover {
  background-color: #669ec0;
}

.find-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:  #5496bd;
}

.map {
  width: 1200px;
  height: 470px;
}

.footer-wrap {
  display: flex;
}

.telephone {
  width: 220px;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  text-align: left;
  margin-left: 125px;
  margin-top: 25px;
}

.social-link {
  display: flex;
  flex-wrap: wrap;
  margin-left: 173px;
  margin-right: 228px;
  margin-top: 33px;
}

.social-icon {
  display: block;
  height: 48px;
  width: 46px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 6px;
  fill: #fff;
}
.social-icon:hover {
  background-color: #669ec0;
}

.social-icon:active {
  fill-opacity: 0.3;
  background-color: #5496bd;
}

.twitter {
  margin-top: 17px;
  margin-left: 1px;
}

.youtube {
  margin-top: 16px;
}

.facebook {
  margin: 13px 0;
}

/*.twitter { !!!так как там прозрачность только у свг-шки пришлось вставлять в html!!!
  background-image: url("../img/twitter.svg");
  margin: 0;
}

.facebook {
  background-image: url("../img/fb-icon.svg");
}

.youtube {
  background-image: url("../img/youtube.svg");
}*/

.academy {
  display: flex;
  align-items: center;
  margin-top: 0px;
}

.footer-text{
  padding-top: 3px;
}

.academy-link {
  display: block;
  width: 113px;
  padding-top: 8px;
  padding-left: 10px;
  fill: #231f20;
}

.academy-link:hover {
  fill: #81b3d2;
}
.academy-link:active {
  fill: #bdbbbc;
}
.detail {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 5px 17px;
}

.detail:hover {
  background-color: #669ec0;
}

.detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.order {
  color: #ffffff;
  background-color: #766357;
  padding: 5px 17px;
}

.order:hover {
  background-color: #604e43;
}

.order:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.filter {
  position: relative;
}

.filter::before {
  content: "";
  position: absolute;
  left: 0; 
  right: 0; 
  top: 0;
  bottom: 0;
  background-color: #81b6d6;
  background-image: url("../img/background-main.jpg");
  background-size: 1200px;
  background-position: center;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
  z-index: -1;
}

.user-filter {
  display: flex;
  justify-content: space-between;
  padding: 27px  58px 0;
  font-size: 16px;
  color: #ffffff;
}

.resting-kind {
  height: 456px;
}

.resting-place {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #cacaca;
  padding: 27px 72px 17px;
}

.resting-place:last-child {
  border-bottom: 1px solid #cacaca;
}

.art-section {
  display: flex;
}

.images {
  margin-top: 2px;
  margin-right: 30px;
}

.article-heading {
  text-align: left;
  margin: 0;
}

.article-heading .link:hover {
  color: #81b3d2;
}

.article-heading .link:active {
  color: #000000;
  opacity: 0.5;
}

.before-button {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 17px;
}

.filter-range {
  width: 319px;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 14px;
}

.filter-range-title {
  margin-bottom: 9px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 18px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  text-align: left;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 55px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  padding: 2px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 85px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.filter-input {
  border: none;
  text-align: left;
  margin-right: 92px;
}

.checkbox-title {
  font-weight: 700;
  padding-bottom: 19px;
  color: #ffffff;
}

.typical-sorting {
  display: flex;
  padding-top: 30px;
  font-size: 12px;
}

.sort-find {
  font-size: 21px;
  font-weight: 700;
  margin-right: 53px;
  margin-top: 29px;
  margin-bottom: 34px;
}

.sort-transfer {
  padding-top: 20px;
  margin-right: 40px;
  font-size: 12px;
}

.typical-sorting .link {
  color: #cacaca;
  border-bottom: 1px #81b3d2 dotted;
  font-weight: 400;
  margin-right: 33px;
}

.typical-sorting .link:hover {
  color: #81b3d2;
}

.typical-sorting .link:active {
  color: #000000;
  border-bottom: none;
}

.typical-sorting:active+:visited {
  color: #81b3d2;
  text-decoration: none;
}

.sort {
  display: flex;
  padding: 0 70px;
}

.sort-button-container {
  display: flex;
  padding-top: 31px;
  margin-left: auto;
}

.sort-button {
  display: block;
  width: 12px;
  height: 10px;
  margin-left: 13px;
  fill: #cacaca;
}

.sort-button:hover {
  fill: #231f20;
}

.sort-button:active {
  fill: #81b3d2;
}

.sort-button-container .active {
  fill: #81b3d2;
}

.button-container {
  display: flex;
}

.button-item {
  margin-right: 5px;
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-input::-ms-expand {
  display: none;
}

.check {
  position: relative;
  padding-left: 40px;
  display: block;
  margin-bottom: 25px;
}

.check-button {
  position: absolute;
}

.check-button {
 fill: #ffffff;
}

.check-on {
  display: none;
}

.check-input:checked~.check-on {
  display: block;
}

.check-input:checked~.check-off {
  display: none;
}

.check-input:disabled~.check-on,
.check-input:disabled~.check-off {
  fill: #6a6a6a;
}

.check-container {
  width: 380px;
  display: flex;
}

.number-raiting {
  padding: 3px 10px;
  background-color: #f2f2f2;
}

.stars {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url("../img/star.svg");
  margin-left: auto;
  background-repeat: repeat-x;
  margin-top: 0;
  margin-bottom: 48px;
}

.five-stars {
  width: 90px;
}

.four-stars {
  width: 72px;
}

.three-stars {
  width: 54px;
}

.two-stars {
  width: 36px;
}

.one-star {
  width: 18px;
}
